[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = true
	requireChangeId = true
	enableSignedPush = true
	createNewChangeForAllNotInTarget = false
	requireSignedPush = false
	rejectImplicitMerges = false
	maxObjectSizeLimit = 5m
[submit]
	mergeContent = true
[access "refs/*"]
	read = deny group GitHub Replication
	read = deny group ORAN-OSC Replication
	read = group Administrators
	read = group Anonymous Users
	read = group Service Users
	read = group Stream Rights
	revert = group Registered Users
[access "refs/for/*"]
	addPatchSet = deny group CCLA ORAN-SC Association
	addPatchSet = deny group ICLA ORAN-SC Association
	addPatchSet = group CCLA OSS
	addPatchSet = group ICLA OSS
[access "refs/for/refs/*"]
	push = deny group CCLA ORAN-SC Association
	push = deny group ICLA ORAN-SC Association
	push = group CCLA OSS
	push = group ICLA OSS
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	forgeAuthor = group Registered Users
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group Service Users
	submit = group Project Owners
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	push = group self-serve-release
[access "refs/meta/config"]
	read = group Administrators
	read = group Project Owners
	push = group Administrators
	push = block group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -1..+1 group Project Owners
	submit = group Administrators
	create = group Administrators
[access "refs/tags/*"]
	create = group Project Owners
	createTag = group Project Owners
	createTag = group self-serve-release
	createSignedTag = group Administrators
	createSignedTag = group Project Owners
	createSignedTag = group self-serve-release
	push = group Administrators
	push = group Project Owners
	push = group self-serve-release
	forgeCommitter = group self-serve-release
[label "Code-Review"]
	function = NoBlock
	defaultValue = 0
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = changekind:NO_CHANGE OR changekind:TRIVIAL_REBASE OR is:MIN
[submit-requirement "Code-Review"]
	description = A maximum vote is required for the 'Code-Review' label. \
			A minumum vote is blocking.
	submittableIf = label:Code-Review=MAX AND -label:Code-Review=MIN
	canOverrideInChildProjects = true
[label "Verified"]
	function = NoBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[submit-requirement "Verified"]
	description = A maximum 'Verified' vote is required for the 'Verified' label. A minimum vote is blocking.
	submittableIf = label:Verified=MAX AND -label:Verified=MIN
	canOverrideInChildProjects = false
[contributor-agreement "CCLA - O-RAN Software Community (ORAN-SC)"]
	description = CCLA (Corporate Contributor License Agreement) for O-RAN Software Community (ORAN-SC) -- Apache 2 License
	agreementUrl = https://api.lfcla.com/v2/gerrit/00032789-00fe-4658-a24b-9d05d3ee57e8/corporate/agreementUrl.html
	accepted = group CCLA OSS
[contributor-agreement "CCLA - O-RAN Specification Code Project (ORAN-SCP)"]
	description = CCLA (Corporate Contributor License Agreement) for O-RAN Specification Code Project (ORAN-SCP) -- O-RAN Software License
	agreementUrl = https://api.lfcla.com/v2/gerrit/c012dfa2-66c7-44c5-bd0f-cc4dcc5ed453/corporate/agreementUrl.html
	accepted = group CCLA ORAN-SC Association
[contributor-agreement "ICLA - O-RAN Software Community (ORAN-SC)"]
	description = ICLA (Individual Contributor License Agreement) for O-RAN Software Community (ORAN-SC) -- Apache 2 License
	agreementUrl = https://api.lfcla.com/v2/gerrit/00032789-00fe-4658-a24b-9d05d3ee57e8/individual/agreementUrl.html
	accepted = group ICLA OSS
[contributor-agreement "ICLA - O-RAN Specification Code Project (ORAN-SCP)"]
	description = ICLA (Individual Contributor License Agreement) for O-RAN Specification Code Project (ORAN-SCP) -- O-RAN Software License
	agreementUrl = https://api.lfcla.com/v2/gerrit/c012dfa2-66c7-44c5-bd0f-cc4dcc5ed453/individual/agreementUrl.html
	accepted = group ICLA ORAN-SC Association
[capability]
	accessDatabase = group Administrators
	administrateServer = group Administrators
	priority = batch group Service Users
	streamEvents = group Service Users
	streamEvents = group Stream Rights
[plugin "its-jira"]
	branch = refs/heads/*
	enabled = true
